h1 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: 300;
  text-align: center;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(210, 255, 200, 0.04) !important;
}
.container {
  margin-top: 8px;
  background-color: #ffffff;
}
.head{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center
}

.sme{
  font-weight: bold;
}
